---
import dayjs from 'dayjs'
import Basic from "@/layouts/Basic.astro"
import { Frontmatter } from '@/common/types'
import { DESCRIPTION, TITLE } from '@/common/constants'

const canonicalURL = Astro.canonicalURL
const posts = await Astro.glob<Frontmatter>('./**/*.md')
const sortedPosts = posts.sort((p1, p2) => {
  return dayjs(p2.frontmatter.createdAt).unix() - dayjs(p1.frontmatter.createdAt).unix()
})
---

<Basic {canonicalURL}>
  <div class="home">
    <div class="container">
      <h1 class="title">{TITLE}</h1>
      <h2 class="description">{DESCRIPTION}</h2>
      <ul class="posts">
        {sortedPosts.map((post)=><li>
          <h3>
            <a href={post.url}>{post.frontmatter.title}</a>
          </h3>
          <p>{post.frontmatter.description}</p>
          <p>{post.frontmatter.tags.map(tag=><span class="tag">{tag}</span>)}</p>
          <p class="time">{dayjs(post.frontmatter.createdAt).format('YYYY年M月D日')}</p>
        </li>)}
      </ul>
    </div>
  </div>
</Basic>

<style lang="less">
  .home {
    padding: 2em;
    background-color: #eee;

    .container {
      max-width: 960px;
      margin: 0 auto;
    }

    .title {
      font-family: '楷体';
      font-size: 2.5em;
    }

    .description {
      margin-top: -1.4em;
      font-family: '楷体';
      font-size: 1.2em;
      font-weight: bold;
      color: #666;
    }

    .posts {
      margin-top: 2.5em;
      padding-left: 0;
      list-style: none;

      li {
        margin-bottom: 1.5em;
      }
    }

    .tag {
      display: inline-block;
      margin-right: .5em;
      padding: .25em .7em;
      background: #0ae;
      color: white;
      font-size: .8em;
      border-radius: .25em;

      &:last-child {
        margin-right: 0;
      }
    }

    .time {
      font-size: 1rem;
      font-weight: normal;
      color: #666;
    }
  }
</style>
