---
import Basic from './Basic.astro'
import ExLink from '@/components/ExLink.astro'
import { MarkdownContent } from 'astro'
import { Frontmatter } from '@/common/types'
import { formatDate } from '@/utils/utils'

interface Props {
  content: MarkdownContent<Frontmatter>
}

const { content } = Astro.props as Props
const canonicalURL = Astro.url
---

<Basic {canonicalURL} {...content}>
  <Fragment slot="head">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap"
      rel="stylesheet"
    />
    {content.katex && <link rel="stylesheet" href="/katex/katex.min.css" />}
  </Fragment>
  <div class="blog">
    <div class="container">
      <h1 id={content.title}>{content.title}</h1>
      <ul class="info">
        <li>
          作者：<ExLink href={content.author.link}>{content.author.name}</ExLink>
        </li>
        <li>创建于 {formatDate(content.createdAt)}，最后更新于 {formatDate(content.updatedAt)}</li>
        <li>分类：{content.category}</li>
        <li class="tag-container">
          标签：{content.tags.map(tag => <span class="tag">{tag}</span>)}
        </li>
        {content.serials && <li>所属系列：{content.serials}</li>}
        {
          content.reprint && (
            <li>
              转载自<ExLink href={content.reprint.link}>{content.reprint.description}</ExLink>
            </li>
          )
        }
      </ul>
      <img width="1200" height="600" class="banner" src={content.image} alt={content.title} />
      <slot />
    </div>
  </div>
</Basic>

<style is:global lang="less">
  .blog {
    height: 100vh;
    overflow-y: auto;
    padding: 1.5em;
    background-color: #eee;
    .container {
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
      padding: 1.5em;
      background-color: white;
      border-radius: 0.5em;
    }
    @media screen and (max-width: 720px) {
      & {
        padding: 0;
      }
      .container {
        @p: .5em;
        margin: 0;
        border-radius: 0;
        padding: 1.5em @p;
        background-image: linear-gradient(90deg, rgba(60, 10, 30, 0.06) 3%, transparent 0),
          linear-gradient(1turn, rgba(60, 10, 30, 0.06) 3%, transparent 0);
        background-size: 20px 20px;
        background-position: 50%;
        & > pre {
          margin-left: -@p;
          margin-right: -@p;
          border-radius: 0;
          padding: 1.2em @p;
        }
      }
    }
    .info {
      font-size: 0.8em;
      color: #666;
    }
    .tag {
      display: inline-block;
      padding: 0.25em 0.5em;
      color: #08c;
      background-color: #f5f5ff;
      border: 1px solid #08c;
      font-size: 0.85em;
      line-height: 1.4;
      border-radius: 0.3em;
      &:not(:last-child) {
        margin-right: 0.3em;
      }
    }
    h2,
    h3,
    h4,
    h5,
    h6 {
      display: flex;
      align-items: center;
      gap: 0.3em;
      & > a:first-child {
        display: flex;
        align-items: center;
        & > svg {
          width: 0.75em;
          height: 0.75em;
          transition: fill 0.15s ease-in-out;
          &:hover,
          &:active {
            fill: #08c;
          }
        }
      }
    }
    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      height: auto;
      border-radius: 0.5em;
      &.no-radius {
        border-radius: 0;
      }
      &.left {
        margin: 0;
      }
    }
    .banner {
      aspect-ratio: 2;
      object-fit: cover;
    }
    ul,
    ol {
      padding-left: 1.25em;
    }
    li:not(:last-child) {
      margin-bottom: 0.4em;
    }
    pre {
      padding: 1.2em 1em;
      border-radius: 0.5em;
      &::-webkit-scrollbar-track {
        margin: 0 1.2em;
        background: inherit;
      }
    }
    blockquote {
      margin-left: 0;
      margin-right: 0;
      padding: 0.5em 1em;
      border-radius: 0.5em;
      border: 1px solid #ff9800;
      background-color: #fff8e0;
      box-shadow: 0 6px 10px -5px rgb(225 173 98 / 38%);
    }
    code {
      font-family: 'Fira Code';
    }
    :not(pre) > code {
      padding: 0.06em 0.4em;
      border-radius: 0.3em;
      color: #b71540;
      background-color: #fff5f5;
      border: 1px solid #fd7ba6;
      white-space: nowrap;
    }
    details {
      @p: 0.8em;
      padding: @p;
      padding-bottom: 0;
      border-radius: 0.5em;
      border: 1px solid #ff9800;
      background-color: #fff8e0;
      box-shadow: 0 6px 10px -5px rgb(225 173 98 / 38%);
      &[open] {
        padding-bottom: @p;
        summary {
          margin-bottom: @p;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
          background-color: #ffecad;
        }
        & > *:last-child {
          margin-bottom: 0;
        }
      }
      summary {
        border-radius: 0.5em;
        margin: -@p;
        margin-bottom: 0;
        padding: 0.5em;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;
        &:hover {
          background-color: #ffecad;
        }
      }
      @media screen and (max-width: 720px) {
        @p: 0.5em;
        & {
          padding: @p;
          padding-bottom: 0;
        }
        &[open] {
          padding-bottom: @p;
          summary {
            margin-bottom: @p;
          }
        }
        summary {
          margin: -@p;
          margin-bottom: 0;
        }
        pre {
          margin-left: -@p;
          margin-right: -@p;
          border-radius: 0;
        }
      }
    }
    .katex-mathml {
      display: none;
    }
    .katex-html {
      white-space: nowrap;
    }
  }
</style>
